extends layout

block content 
  body(class='index')
    h1= title        
  case authstatus
    when true     
      div(class='iText') Welcome #{displayName}
      form(action='/todo/add_list' method= 'post')
        p
          label(for='content', class = 'iText') ADD TODO :
          input(type='text', name ='content')
          input(type='submit' value = 'ADD')
      p         
        each i in toDolists
          p(class='iText') #{i.content}
      a(href='auth/logout_process') logout
    default
      div(class='iText') Welcome to #{title}
      p
        a(href='/auth/login') login
        |
        | 
        a(href='/auth/register') register
   
