extends layout

block content
    div(class="wrapper")
        section(class="loginForm container-sm mb-3")
            form(action='/auth/login_process', method='post')
                h1 Login
                p(class="form-floating mb-3")
                    input(class = 'form-control' type='email', name='email', placeholder="email")
                    label(for="email" ) Email address
                p(class='form-floating mb-3')
                    input(class= 'form-control' type='password', name='password', placeholder='password')
                    label(for="password") Password
                div(class='mb-3 d-grid gap-2')
                    button(type='submit', value='login', class='btn btn-lg btn-outline-primary') Login        
            div(class="row justify-content-around")
                a(href="/auth/google" class="col")
                    img(src="/images/btn_google_signin_dark_normal_web.png")
                a(href="/auth/kakao" class="col")
                    img(src="/images/kakao_login_medium_narrow.png")
            div(class="mb-3")  
                font(class="form-text") Don&apos;t you have ID? 
                    a(href='register') Sign Up