extends layout

block content
    div(class="wrapper")
        section(class="loginForm container-sm")
            form(action='/auth/login_process', method='post')
                h1 Login
                p(class='mb-3')
                    input(class = 'form-control' type='text', name='email', placeholder='email')
                p(class='mb-3')
                    input(class= 'form-control' type='password', name='password', placeholder='password')
                div(class='mb-3 d-grid gap-2')
                    button(type='submit', value='login', class='button') Login        
            form(action='/auth/google', method='get')
                input(type='submit' class = 'button',value='Google로 로그인')
            form(action='/auth/kakao', method='get')                       
                input(type='submit' class = 'button',value='Kakao로 로그인')
            div  
                font(color="white") Don&apos;t you have ID? 
                    a(href='register') Sign Up