body {
  margin:0%;  
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background:#e2e2e2;
  text-align: center;
}
a {
  color: #046c96;
}

h1{
  margin-top: 0;
  text-align: center;
  color: white;
}
table{
  text-align:center;
  margin-left:35%;  
}
tr{
  caret-color: #02aab0;
}
.index{  
  margin-bottom: auto;
  padding-bottom: 10px;  
  background:black;
  text-decoration: white;
  
  }
.iText{
  color:white;
}
.list{
  margin-left:30%;  
  color: black;  
  text-align: start;
}
.listDate{
  padding-left :5%;
  color: white;
  text-align:end;
  background-color: white;
}
.loginForm {
  position:relative;
  width:auto;
  height :max-content;
  padding: 30px, 20px;
  background:black;
  text-align:center;  
  border-radius: 15px;
  padding-bottom:5%;
}

.loginForm h2{
  text-align: center;
  margin: 30px;
  color: black;
}

.idForm{
  border-bottom: 2px solid #adadad;
  margin: 30px;
  padding: 10px 10px;
}

.passForm{
  border-bottom: 2px solid #adadad;
  margin: 30px;
  padding: 10px 10px;
}

.id {
  width: 100%;
  border:none;
  outline:none;
  color: #636e72;
  font-size:16px;
  height:25px;
  background: none;
}

.pw {
  width: 100%;
  border:none;
  outline:none;
  color: #636e72;
  font-size:16px;
  height:25px;
  background: none;
}
.input{
  width:40%;
  height:20px;
  font-size : 15px;
}

.button {    
  width:41%;
  height:40px;
  background: linear-gradient(125deg,#e9eeee,#6d6a8d,#757777);
  background-position: left;
  background-size: 200%;
  color:white;
  font-weight: bold;
  border:none;
  cursor:pointer;
  transition: 0.4s;
  display:inline;
}
.delete{
  display:inline;
  float:inline-end;  
  margin : auto;
}
.delete_button{
  margin-left: 5%;
  width: 10px;
  height: 10px;
}
.plus_button{
  width:3.5%;
  height:5%;
}